build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://cloud.buildbuddy.io

build:ci --build_metadata=ROLE=CI
build:ci --build_metadata=VISIBILITY=PUBLIC
build:ci --tls_client_certificate=buildbuddy-cert.pem
build:ci --tls_client_key=buildbuddy-key.pem

build:vanilla --bes_results_url=''
build:vanilla --bes_backend=''

try-import %workspace%/user.bazelrc
