# BuildBuddy secrets
*.pem

# Bazel-generated symlinks to build output directories
/bazel-*
# User-specific bazelrc
/user.bazelrc

# Vendored node_modules
/node_modules
# Yarn error log
/yarn-error.log
